# node
node_modules/

# build
dist/
build/
out/

# benutzerdaten
3 data/archiv/
3 data/cache/
3 data/logs/

# protokolle
*.log

# windows
Thumbs.db
Desktop.ini

# lokale arbeits- und austauschdateien
part.zip
serkal_desktop.zip
tasklist.txt